@mixin bookend {
    background-color: #161A30;
}

@mixin primary {
    background-color: #31304D;
}

@mixin secondary {
    background-color: #B6BBC4;
}

@mixin trim {
    background-color: #F0ECE5;
}